main{
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 1fr;
}

p {
    font-family: "Times New Roman", Times, serif;
  font-size: 45px;
}

li {
  font:times
}
@media screen and (max-width: 810px){

    main{
        grid-gap: 0.5em;
        grid-template-rows: 2fr 2fr 2fr 10vw;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
        "header header"
        "section section"
        "footer footer"
        "nav nav"
    }
}


@media screen and (min-width: 800px){
    main{
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
        "header nav"
        "section nav"
        "footer nav"
    }
}

header{
    grid-area: header;
    background: green;
}
footer{
    grid-area: footer;
    background: red;
}
section{
    grid-area: section;
    background: lightgreen;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
nav{
    grid-area: nav;
    background: lightgray;
}

article{
 font-size: 2em;
}
